.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #f1f1f1;
  border-radius: 22px;
  margin-bottom: 10px;
  padding: 21px 15px;
  cursor: pointer;
  color: #35383e;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* inputs */
.content-container {
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 620px;
}

.task {
  font-size: 20px;
  font-weight: bold;
  overflow-wrap: break-word;
  padding-bottom: 5px;
}

.description {
  overflow-wrap: break-word;
  color: #35383e;
  font-weight: 500;
}

.task-description {
  font-size: 16px;
  color: #35383e;
}

/* edit buttom */
.edit-button-container {
  width: 30px;
  height: 30px;
}

.edit-task-button {
  background-color: rgba(255, 170, 04, 75%);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: rgba(53, 56, 62, 25%);
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex: 1;
}

.edit-task-button:active {
  background-color: #f1f1f1;
  color: rgba(255, 170, 04, 1);
  transition: 0s ease-in-out;
  border-color: rgba(255, 0, 0, 1);
}

/* Remove button */
.remove-task-container {
  width: 30px;
  height: 30px;
}

.remove-task-button {
  background-color: rgba(53, 56, 62, 0.1);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: rgba(53, 56, 62, 25%);
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex: 1;
}

.remove-task-button:active {
  background-color: rgba(255, 0, 0, 75%);
  color: #f1f1f1;
  transition: 0s ease-in-out;
  border-color: rgba(255, 0, 0, 1);
}

.close-icon {
  height: auto;
  width: auto;
}
