.task {
  color: #35383e;
  font-size: 20px;
  font-weight: bold;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 22px;
  margin-bottom: 10px;
  padding: 21px 15px;
}

.task-description {
  font-size: 18px;
  color: #35383e;
}
