.container {
  max-width: 500px;
  min-height: 300px;
  margin: 30px auto;
  border-radius: 45px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .container {
    min-height: 300px;
    margin: 30px 20px;
    border-radius: 45px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }
}
