.app-container {
  max-width: 800px;
  min-height: 300px;
  margin: 30px auto;
  border-radius: 45px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/*All filter button*/
.all-filter-button-container {
  margin: 10px 10px 10px 0px;
}

.all-filter-button {
}

@media (max-width: 850px) {
  .app-container {
    max-width: 500;
    min-height: 300px;
    margin: 30px 20px;
    border-radius: 45px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
}
